<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/global.css">  
  <title>The Legend of Zelda: Oracle of Seasons and Ages Randomizer</title>
  
</head>
<body>
  <div class="container-fluid">
    <header class="mb-4">
      <div class="row bg-info">
        <div class="col align-self-end">
          <h2 class="text-light text-right">OOS/A Web Randomizer</h2>
        </div>
      </div>
    </header>
    <div class="container">{{{body}}}</div>
  </div>
  <footer class="footer">
      <div class="container-fluid bg-info">
        <span class="text-light">Randomizer (v{{version}}) by jangler, Interface (v1.1.1) by jaysee87</span>
      </div>
  </footer>
</body>
</html>