<div class="container">
  <div class="card">
    <div class="card-header bg-danger text-light">
      <div class="col">
        <h3>
          Unsupported browser!
        </h3>
      </div>
    </div>
    <div class="card-body">
      Your browser does not support features needed for this site to work properly. Please upgrade your browser to its latest version or use a Chrome or Firefox.
    </div>
  </div>
</div>