html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 65px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 100%;
  line-height: 65px;
}

.form-check-label {
  margin-left: 10px;
  margin-right: 30px;
}

.form-check-inline {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 80px;
}

.bg-header {
  background-color: #e8f7fc;
}

.fas .fa-times{
  margin-right: 20px;
  margin-left: 3px;
}