<div class="container">
  <div class="card">
    <div class="card-header bg-header">
      <div class="col">
        <h3>
          External OOS/A Rando Settings Patcher
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="card-group">
        <div class="card">
          <div class="mt-4 media">
            <img src=""  alt="Link-Sprite" class="mr-3" id="link-sprite">
          
            <div class="media-body">
              <h3>Link Sprite</h3>
              <div class="input-group">
                <select class="custom-select" name="linkSprite" id="linkSprite">
                  <option selected>Choose a sprite...</option>
                  <option value="link">Link</option>
                  <option value="demonlink">Demonic Link</option>
                  <option value="marin">Marin</option>
                </select>
              </div>
              <div class="mt-2"/>
              </div>
              <h3>Link Palette</h3>
              <div class="input-group">
                <select class="custom-select" name="paletteIndex" id="paletteIndex">
                  <option selected>Choose a color...</option>
                  <option value="0">Green</option>
                  <option value="1">Blue</option>
                  <option value="2">Red</option>
                  <option value="3">Gold</option>
                  <option value="4">Blue (inverted)</option>
                  <option value="5">Red (inverted)</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <ul>
        <form action="#" method="POST" enctype="multipart/form-data" id="randomize-settings" style="margin-top:35px">        
          <div class="custom-file">
            <input type="file" name="file" id="file" class="custom-file-input" required>
            <label for="file" class="custom-file-label">Select Oracle of Seasons or Ages Rom (English, Randomized or Vanilla)</label>
          </div>     
        </form>

        <div class="btn-group btn-group-lg" style="margin-top:60px" >
          <button type="button" class="btn btn-primary btn-download" id="music" disabled>Save Patched Rom (Music)</button>
          <button type="button" class="btn btn-secondary btn-download" id="no-music" disabled>Save Patched Rom (No Music)</button>
        </div>
      </ul>
    </div>
  </div>
</div>
